<!DOCTYPE html>
<head>
   <link href="http://www.net-a-porter.com/nap/build/2015.14.00/styles/common-nap-min.css" type="text/css" rel="stylesheet">
   <script src="http://www.net-a-porter.com/nap/build/2015.14.00/scripts/jquery/jquery-1.10.2-min.js" type="text/javascript"></script>
   <script src="http://www.net-a-porter.com/nap/build/2015.14.00/scripts/common-nap-min.js" type="text/javascript"></script>
   <link href="/stylesheets/test/homepage.css?v=1.127" type="text/css" rel="stylesheet">
</head>
<body>
<div id="main">
<div id="content">
<!-- reference to global functions [Required to run macros] -->
<div class="NAPholder">
   <!-- Takeover banner -->

   <!--Build cover path-->


   <div class="NAPleftCol">
      <a class="NAPeditCover" href="/magazine/290/1?cm_sp=Homepage-_-Cover-290-_--_-12-03-15">
            <img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/editorial/2015/03/12/cover/en/EditCover.jpg" alt="THE SHOE & BAG ISSUE" width="520px" height="645px"  
             data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/editorial/2015/03/12/cover/en/retina_EditCover.jpg'
                >
      </a>
      <div class="NAPmagTitle">
         <span class="NAPtextWhite">Also in this week’s magazine...</span>
      </div>
      <div class="NAPmagContent" style="background-image:url(http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/editorial/2015/03/12/background/_global/SubStoryBG.jpg); background-size:520px 1121px">
<!-- Editorial sub-stories -->
<!-- Whitebackground check -->
<div class="NAPmagStoryA story-position-0">
<a class="NAPstoryLink" href="/magazine/290/3?cm_sp=Homepage-_-Ed1-290-_--_-12-03-15"></a>
<div class="NAPStoryText">
<div class="NAPstoryTitle ">
<a href="/magazine/290/3?cm_sp=Homepage-_-Ed1-290-_--_-12-03-15">The new ESSENTIALS</a>
</div>
<div class="NAPstorySubtext ">
<a href="/magazine/290/3?cm_sp=Homepage-_-Ed1-290-_--_-12-03-15">Discover SS15’s most-wanted shoes and bags in our accessories special</a>
</div>
</div>
</div><!-- Editorial sub-stories -->
<!-- Whitebackground check -->
<div class="NAPmagStoryB story-position-1">
<a class="NAPstoryLink" href="/magazine/290/36?cm_sp=Homepage-_-Ed2-290-_--_-12-03-15"></a>
<div class="NAPStoryText ">
<div class="NAPstoryTitle ">
<a href="/magazine/290/36?cm_sp=Homepage-_-Ed2-290-_--_-12-03-15">Shake<br />IT UP</a>
</div>
<div class="NAPstorySubtext ">
<a href="/magazine/290/36?cm_sp=Homepage-_-Ed2-290-_--_-12-03-15">Lend a ’70s-inspired touch to your look with the season’s suede tasseled bags</a>
</div>
</div>
</div><!-- Editorial sub-stories -->
<!-- Whitebackground check -->
<div class="NAPmagStoryA story-position-2">
<a class="NAPstoryLink" href="/magazine/290/30?cm_sp=Homepage-_-Ed3-290-_--_-12-03-15"></a>
<div class="NAPStoryText">
<div class="NAPstoryTitle ">
<a href="/magazine/290/30?cm_sp=Homepage-_-Ed3-290-_--_-12-03-15">The glow GETTERS</a>
</div>
<div class="NAPstorySubtext ">
<a href="/magazine/290/30?cm_sp=Homepage-_-Ed3-290-_--_-12-03-15">The A-list’s makeup artists share the beauty secrets behind a modern golden tan</a>
</div>
</div>
</div><!-- Editorial sub-stories -->
<!-- Whitebackground check -->
<div class="NAPmagStoryB story-position-3">
<a class="NAPstoryLink" href="/magazine/290/33?cm_sp=Homepage-_-Ed4-290-_--_-12-03-15"></a>
<div class="NAPStoryText ">
<div class="NAPstoryTitle ">
<a href="/magazine/290/33?cm_sp=Homepage-_-Ed4-290-_--_-12-03-15">In perfect DETAIL</a>
</div>
<div class="NAPstorySubtext ">
<a href="/magazine/290/33?cm_sp=Homepage-_-Ed4-290-_--_-12-03-15">The little things matter at these meticulous hotels</a>
</div>
</div>
</div><!-- Editorial sub-stories -->
<!-- Whitebackground check -->
<div class="NAPmagStoryA story-position-4">
<a class="NAPstoryLink" href="/magazine/290/25?cm_sp=Homepage-_-Ed5-290-_--_-12-03-15"></a>
<div class="NAPStoryText">
<div class="NAPstoryTitle ">
<a href="/magazine/290/25?cm_sp=Homepage-_-Ed5-290-_--_-12-03-15">The cult DESIGNER</a>
</div>
<div class="NAPstorySubtext ">
<a href="/magazine/290/25?cm_sp=Homepage-_-Ed5-290-_--_-12-03-15">Delfina Delettrez on her wildly popular jewelry line and famous fashion family</a>
</div>
</div>
</div>      </div>
      

      <div class="NAPmagPrevious">
         <div class="NAPmagTitle">
         </div>
         <a class="PorterHPLink" href="https://www.portersubscription.com/?prom=PTRGZ&utm_source=net-a-porter&utm_medium=Internal&utm_campaign=homepagebottom" target="_blank"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/porter/007/en.jpg"></a>
      </div>
   </div> 
   <div class="NAPrightCol">

      <div class="NAPmarketTitle">
         <div class="NAPmarketWidth"><span class="NAPtextWhite">What to buy now</span></div>
      </div>


<!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/List/SS15_Runway?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk1-_-SS15RunwayArrivals-_-12-03-15" style="color:#000000" target="_self">
250+ RUNWAY ARRIVALS:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/List/SS15_Runway?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk1-_-SS15RunwayArrivals-_-12-03-15" style="color:#000000" target="_self">Burberry Prorsum, Gucci and more</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/List/SS15_Runway?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk1-_-SS15RunwayArrivals-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_one/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='250+ RUNWAY ARRIVALS: - Burberry Prorsum, Gucci and more'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_one/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div><!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/List/The_Summer_Shop/All?pn=1&npp=view_all&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk2-_-VacationShop-_-12-03-15" style="color:#000000" target="_self">
THE VACATION SHOP:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/List/The_Summer_Shop/All?pn=1&npp=view_all&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk2-_-VacationShop-_-12-03-15" style="color:#000000" target="_self">Shortcut to jet-set style</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/List/The_Summer_Shop/All?pn=1&npp=view_all&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk2-_-VacationShop-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_two/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='THE VACATION SHOP: - Shortcut to jet-set style'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_two/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div>

      <div class="NAPmarketAdvert">
         <script type='text/javascript'>
(function() {
var useSSL = 'https:' == document.location.protocol;
var src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
})();
</script>
         <div id="div-gpt-ad-homapgeTag-0">
            <script type='text/javascript'> 
               var gpTag = "/9237/netaporter/Homepage/intl", 
               gptSlotID = "div-gpt-ad-homapgeTag-0"; 
               googletag.cmd.push(function() { googletag.defineSlot(gpTag, [300, 250],gptSlotID) .addService(googletag.pubads()) 
               .setTargeting("language", "en"); googletag.enableServices(); googletag.display("div-gpt-ad-homapgeTag-0"); }); 
            </script> 
         </div>
      </div>


<!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/Designers/Chloe/Bags?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk3-_-ChloeFayeIsHere-_-12-03-15" style="color:#000000" target="_self">
THE CHLOÉ FAYE:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/Designers/Chloe/Bags?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk3-_-ChloeFayeIsHere-_-12-03-15" style="color:#000000" target="_self">Meet the bag of the season</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/Designers/Chloe/Bags?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk3-_-ChloeFayeIsHere-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_three/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='THE CHLOÉ FAYE: - Meet the bag of the season'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_three/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div><!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/Clothing/Denim?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk4-_-WearEverywhereDenim-_-12-03-15" style="color:#000000" target="_self">
TRENDING NOW:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/Clothing/Denim?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk4-_-WearEverywhereDenim-_-12-03-15" style="color:#000000" target="_self">Wear-everywhere denim</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/Clothing/Denim?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk4-_-WearEverywhereDenim-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_four/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='TRENDING NOW: - Wear-everywhere denim'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_four/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div><!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/Designers/Isabel_Marant?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk5-_-IsabelMarantRunwayisHere-_-12-03-15" style="color:#000000" target="_self">
LATEST ISABEL MARANT:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/Designers/Isabel_Marant?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk5-_-IsabelMarantRunwayisHere-_-12-03-15" style="color:#000000" target="_self">Runway is here</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/Designers/Isabel_Marant?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk5-_-IsabelMarantRunwayisHere-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_five/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='LATEST ISABEL MARANT: - Runway is here'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_five/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div><!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/Clothing/Dresses?pn=1&npp=60&image_view=product&navlevel3=Mini&cm_sp=Homepage-_-Mk6-_-MustHaveMinis-_-12-03-15" style="color:#000000" target="_self">
MUST-HAVE MINIS:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/Clothing/Dresses?pn=1&npp=60&image_view=product&navlevel3=Mini&cm_sp=Homepage-_-Mk6-_-MustHaveMinis-_-12-03-15" style="color:#000000" target="_self">Take your hemline higher</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/Clothing/Dresses?pn=1&npp=60&image_view=product&navlevel3=Mini&cm_sp=Homepage-_-Mk6-_-MustHaveMinis-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_six/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='MUST-HAVE MINIS: - Take your hemline higher'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_six/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div><!-- Marketing story -->
<div class="NAPmarketStoryHolder">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/Shoes/Sandals?pn=1&npp=60&image_view=product&navlevel3=Lace_Ups&cm_sp=Homepage-_-Mk7-_-ReturnOfTheGladiator-_-12-03-15" style="color:#000000" target="_self">
MOST WANTED:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/Shoes/Sandals?pn=1&npp=60&image_view=product&navlevel3=Lace_Ups&cm_sp=Homepage-_-Mk7-_-ReturnOfTheGladiator-_-12-03-15" style="color:#000000" target="_self">The return of the gladiator</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/Shoes/Sandals?pn=1&npp=60&image_view=product&navlevel3=Lace_Ups&cm_sp=Homepage-_-Mk7-_-ReturnOfTheGladiator-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_seven/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='MOST WANTED: - The return of the gladiator'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_seven/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div><!-- Marketing story -->
<div class="NAPmarketStoryHolderLast">
<div class="NAPmarketStoryTextHolder">
<div class="NAPmarketStoryText">
<div class="NAPmarketDesigner"><a href="/Shop/Beauty/Haircare?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk8-_-GetYourBestHairEver-_-12-03-15" style="color:#000000" target="_self">
INSTANT UPDATE:
</a>
</div>
<div class="NAPmarketDesignerSubtext"><a href="/Shop/Beauty/Haircare?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk8-_-GetYourBestHairEver-_-12-03-15" style="color:#000000" target="_self">Get your best hair ever</a></div>
</div>
</div>
<div class="NAPmarketStory"><a href="/Shop/Beauty/Haircare?pn=1&npp=60&image_view=product&dScroll=0&cm_sp=Homepage-_-Mk8-_-GetYourBestHairEver-_-12-03-15" target="_self"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_eight/2015/03/12/intl/marketing.jpg" width="300px" height="203px" alt='INSTANT UPDATE: - Get your best hair ever'
data-img-src@2x='http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/marketing/_eight/2015/03/12/intl/retina_marketing.jpg'
/></a>
</div>
</div>   </div>
</div>
<!-- Takeover left banner -->
<div class="promoLeft">
<!-- <a style=" position: relative;top: -30px;" href="/Shop/Whats-New/Now?cm_sp=Homepage-_-TakeoverLeft-_-IWDLaunch-_-11-03-15" target="_blank">
   <iframe width="300" height="853" src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/takeover-promo/2014/10/29/animation/NS_SKI_BANNER_SM.html" style="border:0" scrolling="no"></iframe> 
   <img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/takeover-promo/2015/03/11/intl/en/sideLeft.gif" />
</a> -->
<a href="http://pubads.g.doubleclick.net/gampad/clk?id=406804871&iu=/9237/netaporter/creativesolutions" target="_blank"><img src="/images/test/sideLeft.jpg" /></a>
</div>
<!-- Takeover right banner -->
<div class="promoRight">
   <!-- <a style=" position: relative;top: -30px;" href="/Shop/Whats-New/Now?cm_sp=Homepage-_-TakeoverLeft-_-IWDLaunch-_-11-03-15" target="_blank">
   <iframe width="300" height="853" src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/takeover-promo/2014/10/29/animation/NS_SKI_BANNER_SM.html" style="border:0" scrolling="no"></iframe> 
   </a> -->
<!-- This adds a tracking pixel to the sidebar takeover banner -->

<!-- DEBUG: Tracking pixel has been added to the sidebar takeover banner  -->
<a href="http://pubads.g.doubleclick.net/gampad/clk?id=406804871&iu=/9237/netaporter/creativesolutions" target="_blank"><img src="/images/test/sideRight.jpg"/></a>
<!--
<a href="/Shop/Whats-New/Now?cm_sp=Homepage-_-TakeoverRight-_-IWDLaunch-_-11-03-15" target="_blank"><img src="http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/takeover-promo/2015/03/11/intl/en/sideRight.gif" /></a>
-->
</div>
<!-- Takeover background -->


<!-- Nap Live -->
<link rel="stylesheet" type="text/css" href="http://staging.net-a-porter.com/alfresco/nap/webAssets/shared/frontend/styles/style.css">
<script>
   /* Require config file */
   var require = {
   baseUrl: 'http://staging.net-a-porter.com/alfresco/nap/webAssets/shared/frontend/',
   deps: ['config', 'homepage/app/main']
   };
</script>
<script type="text/javascript" src="http://staging.net-a-porter.com/alfresco/nap/webAssets/shared/frontend/common/libs/require.js"></script> 



<script type="text/javascript">
   // update the marketing title every five seconds
   /*
      $(document).ready(function() {
         setInterval(function(){
            var origntext,newtext;
                  origntext =  "HIT REFRESH";
                  newtext =  "What to buy now";

            var textss = $(".NAPmarketTitle .NAPtextWhite").text();
            $(".NAPmarketTitle .NAPtextWhite").text( textss == origntext?newtext:origntext);
         }, 5000);
      });
   */
   
   /* When window is resized call sideBarPosition */
   /*
   $(window).resize(function () { 
      sideBarPosition();
   });
   /*
   /* Adjust takeover promo side banners */
    /*
   function sideBarPosition(){
      var sideWidth = (($(window).width()-950)/2)-20;
      console.log(sideWidth);
      if(sideWidth < 330){
         sideWidth = sideWidth - 330;
         $(".promoLeft").css("left",sideWidth);
         $(".promoRight").css("right",sideWidth);
         $(".promoLeft").css("overflow","hidden");
         $(".promoRight").css("overflow","hidden");
         $(".promoLeft img").width("330px");
         $(".promoRight img").width("330px");
      }else if(sideWidth > 500){
         sideWidth = sideWidth - 500;
         $(".promoLeft").css("left",sideWidth);
         $(".promoRight").css("right",sideWidth);
         $(".promoLeft img").width("500px");
         $(".promoRight img").width("500px");
      }else{
         $(".promoLeft").css("left","0px");
         $(".promoRight").css("right","0px");
         $(".promoLeft img").width("330px");
         $(".promoRight img").width("330px");
      }
   };
   sideBarPosition();
   
   $(document).ready(function() {

      var retina = window.devicePixelRatio > 1;
   
      if (retina) {
      if(jQuery().updateImageSource) {
            $("#content").updateImageSource();
         }
   
         $(".NAPmagContent").css("background-image","url(http://staging.net-a-porter.com/alfresco/nap/webAssets/webPage/homepage-rebuild/desktop/editorial/2015/03/12/background/_global/retina_SubStoryBG.jpg)")
         $(".NAPmagContent").css("background-size", "100% 100%")
      }
   
   });
   */
</script>
</div>
</div>
</body>

