extends layout

block content
	form.form-inline
		.form-group
			label Issue Number:
			input.form-control(type='text' placeholder='288')
			button.btn.btn-default(type='submit') Submit
	form.form-inline
		.form-group
			button.debug.btn.btn-default debug