doctype html
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(type='text/javascript', src='/javascripts/image_UI.js')
  body
    block content